body {
    font-size: 62.5%;
    font-family: Arial, Helvetica, sans-serif;
    color: #d2d8e3;
    height: 100%;
    background: #26272b url("/html/img/bg.gif") top center repeat-y;
}

.header {
    margin-left: auto;
    margin-right: auto;
    width: 77em;
    height: 109px;
    background-image: url("/html/img/banner.png");
    background-size: cover;
    padding: 0;
    border: 0;
}

.navbar {
    padding: 5px;
    border-top: 1px solid red;
    border-bottom: 1px solid red;
    color: white;
    background-color: #000 !important;
    width: 759px !important;
    margin-left: auto;
    margin-right: auto;
}

.container {
    width: 770px;
    margin: 0 auto 0 auto;
    background: #555b66 url("/html/img/bg-content.gif") top center repeat-y;
    height: 60em;
}

.title {
    border-image-slice: 20 20 20 20;
    border-image-width: 20px 20px 20px 20px;
    border-image-outset: 0 0 0 0;
    border-image-repeat: stretch stretch;
    border-image-source: url("/html/img/border.png");
    padding: 25px;
    background-color: #101113;
    margin-left: 10px;
    margin-right: 10px;
}

.note-title {
    text-align: center;
    margin-top: 8px;
    margin-bottom: 8px;
}

.left {
    float: left;
    width: calc(50% - 150px);
    padding-left: 10px;
}

.right {
    float: right;
    width: 510px;
    padding-right: 10px;
}

.note {
    border-image-slice: 20 20 20 20;
    border-image-width: 20px 20px 20px 20px;
    border-image-outset: 0 0 0 0;
    border-image-source: url("/html/img/border.png");
    padding: 15px;
    background-color: #25272d;
}

.note-orange {
    border-image-source: url("/html/img/border-orange.png");
    background-color: #341a1b;
}

.pfp {
    border: 1px solid white;
    width: 15em;
}

.note-hr {
    border-top: 1px dashed gray;
}

.user-info {
    padding-left: 20px;
}

.special-detail {
    color: #f90;
}

a {
    color: #f90;
    font-weight: bold;
    text-decoration: none;
    outline: none;
}

.note h1 {
    margin: 0;
}

.comments {
    overflow-y: scroll;
    height: 198px;
    border-image-slice: 20 20 20 20;
    border-image-width: 20px 20px 20px 20px;
    border-image-outset: 0 0 0 0;
    border-image-repeat: stretch stretch;
    border-image-source: url("/html/img/border.png");
    padding: 20px;
    background-color: #25272d;
}

.comment-right {
    display: grid;
    grid-template-columns: 75% auto;
    padding: 5px;
    background-color: #101113;
    margin-bottom: 5px;
}

.comment-content { 
    word-wrap: break-word;
}

.comment-name {
    float: right;
}

.comment-pfp {
    float: right;
}

.footer {
    color: #60636b;
    text-align: center;
}

.footer a {
    color: #c87800;
}

audio {
    width: 170px;
}

.artwork {
    overflow-y: scroll;
}

.main {
    background: url("/html/img/headerbg.jpg") top center no-repeat;
}